# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo
# User data
src/user_data.json